<div class="meta">
    {{ $authors := .Params.authors | default (slice .Site.Params.author) -}}
    {{ if (gt (len $authors) 0) -}}
        {{ $firstAuthor := index $authors 0 -}}
        {{ $authorData := index .Site.Data.authors $firstAuthor -}}
        {{ if isset $authorData "avatar" -}}
            {{ $avatarResource := resources.Get (printf "authors/%s" $authorData.avatar) -}}
            {{ if $avatarResource -}}
                {{ $avatar := $avatarResource.Resize "80x80" -}}
                <div class="meta-avatar">
                    <a href="{{ $authorData.customPage | default (printf "/authors/%s/" ($firstAuthor | urlize)) }}">
                        <img src="{{ $avatar.RelPermalink }}" alt="{{ $authorData.displayName }}" class="author-avatar"
                             width="40" height="40" loading="lazy">
                    </a>
                </div>
            {{ end -}}
        {{ end -}}
    {{ end -}}
    <div class="meta-content">
        <div class="meta-line">
            {{- range $i, $author := $authors -}}
                {{- if $i }} & {{ end -}}
                {{- $authorData := index $.Site.Data.authors $author -}}
                <a href="{{ $authorData.customPage | default (printf "/authors/%s/" ($author | urlize)) }}"
                   class="author">
                    {{ $authorData.displayName | default $author }}
                </a>
            {{ end }}
        </div>
        <div class="meta-line">
            {{ partial "post-meta__time.html" (dict "Page" .) }}
            {{ partial "post-meta__location.html" (dict "Page" . "Site" .Site) }}
        </div>
    </div>
</div>
