<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}">
<head>
    <link rel="preconnect" href="https://plausible.io">
    <link rel="dns-prefetch" href="https://plausible.io">
    {{ block "head" . }}
        {{ partial "head.html" . }}
    {{ end }}
    <!-- Privacy-friendly analytics by Plausible -->
    <link rel="preconnect" href="https://plausible.io">
    <script async src="https://plausible.io/js/pa-3Ou4AmijHN7Ii4jQLVFXF.js"></script>
    <script>
      window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
      plausible.init()
    </script>
</head>
<body>
{{ partial "header.html" . }}

{{ if .Site.Menus.main }}
<!-- Menu Overlay (Mobile) -->
<div class="menu-overlay"></div>
{{ end }}

<main>
    {{ if .Site.Menus.main }}
    <aside class="sidebar-menu">
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </aside>
    {{ end }}
    {{ block "main" . }}{{ end }}
</main>

{{ block "footer" . }}
{{ partial "footer.html" . }}
{{ end }}
{{ if .Store.Get "hasMermaid" }}
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
    </script>
{{ end }}

{{ $js := resources.Get "js/main.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" defer></script>
</body>
</html>
